.card-containers{
    width: 100%;
    overflow: hidden;
    box-shadow:0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-out;
    margin: 0 auto;
    object-fit: cover;
    background-color:aliceblue
  
    
}
.card-containers:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
    background-color:aliceblue
}

.image-containers img{
    overflow:hidden;
    height: 250px;
    width: 100%;
}

.btnsdesigns{
    border: none;
    background: linear-gradient(97deg, rgba(132, 38, 176, 1) 0%, rgba(182, 11, 134, 1) 72%, rgba(240, 74, 85, 1) 98%);
    padding-top: 4px;
    padding-bottom: 5px;
}
.btnsdesigns:hover{
    border: none;
    background:linear-gradient(to right, #a517ba,#5f1782);
    padding-top: 4px;
    padding-bottom: 5px;
}