.footer{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: #fff;
}
.footer img{
    width: 100%;
}
.footer-box{
   padding: 20px;
}
.footer-box img{
   width: 120px;
   margin-bottom: 20px;
}

.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);

}
hr{
    background-color: #fff;
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    font-weight: 500;
}